<h1>{{ title }}</h1>
<br>

<search (search)="filter($event)"></search>
<br>

<select name="filter" class="form-select" aria-label="Default select example" (change)="filter(); changePage(0)" [(ngModel)]="listValue">
  <option value="all">All</option>
  <option value="completed">Completed</option>
</select>
<br>

<add [tasks]="tasks" (add)="add($event)"></add>

<item *ngFor="let task of filteredTasks | pagination:currentPage:pageSize:filteredTasks.length"
  [task]="task"
  (deletion)="delete($event) "
  (check)="filter()">
</item>

<mat-paginator 
  [length]="filteredTasks.length"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  (page)="changePage($event.pageIndex)">
</mat-paginator>